src/main/webapp/wsdl/TestWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://prueba.tmob.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://prueba.tmob.com" xmlns:intf="http://prueba.tmob.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://prueba.tmob.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="chamuyoDaily">
    <complexType/>
   </element>
   <element name="chamuyoDailyResponse">
    <complexType>
     <sequence>
      <element name="chamuyoDailyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicar">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicarResponse">
    <complexType>
     <sequence>
      <element name="multiplicarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumar">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumarResponse">
    <complexType>
     <sequence>
      <element name="sumarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="restar">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="restarResponse">
    <complexType>
     <sequence>
      <element name="restarReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="multiplicarRequest">

      <wsdl:part element="impl:multiplicar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarRequest">

      <wsdl:part element="impl:sumar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chamuyoDailyResponse">

      <wsdl:part element="impl:chamuyoDailyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicarResponse">

      <wsdl:part element="impl:multiplicarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="restarRequest">

      <wsdl:part element="impl:restar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="restarResponse">

      <wsdl:part element="impl:restarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="chamuyoDailyRequest">

      <wsdl:part element="impl:chamuyoDaily" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumarResponse">

      <wsdl:part element="impl:sumarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestWS">

      <wsdl:operation name="chamuyoDaily">

         <wsdl:input message="impl:chamuyoDailyRequest" name="chamuyoDailyRequest">

       </wsdl:input>

         <wsdl:output message="impl:chamuyoDailyResponse" name="chamuyoDailyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdl:input message="impl:multiplicarRequest" name="multiplicarRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicarResponse" name="multiplicarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sumar">

         <wsdl:input message="impl:sumarRequest" name="sumarRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumarResponse" name="sumarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="restar">

         <wsdl:input message="impl:restarRequest" name="restarRequest">

       </wsdl:input>

         <wsdl:output message="impl:restarResponse" name="restarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestWSSoapBinding" type="impl:TestWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="chamuyoDaily">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="chamuyoDailyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="chamuyoDailyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="multiplicar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sumar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="restar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="restarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="restarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestWSService">

      <wsdl:port binding="impl:TestWSSoapBinding" name="TestWS">

         <wsdlsoap:address location="http://localhost:8080/test-tmob/services/TestWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
